body {
	 background-image: url(../images/hitmanreborn.jpg);
	 background-repeat: no-repeat;
	 background-size: 100%;
	 font-family: Georgia, Seriff;
}

a{
	border-style: solid;
	border-color: #404040;
	border-radius: 4px;
	margin: 5px;
	padding: 0px 10px;
	color: black; 
	transition: 0.4s;
}

a:hover 
{
	background-color: white
}

td{
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 3px;
}

table{
	border-style: solid;
	border-color: #404040;
	border-radius: 10px;
	margin-top: 30px;
}