* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f7f8f7;
  color: #191919;
}

.no-purchase-msg {
  font-family: "Montserrat", sans-serif;
  margin: 200px;
  text-align: center;
  font-size: 40px;
  color: #191919;
}

/*Purchase History Display*/
table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  margin: 50px auto;
}

table, td, th {
   border: none;
   border-collapse: collapse;
}

th {
  color: #fff;
  vertical-align: bottom;
  padding: 20px 75px;
  font-weight: bold;
  background: #02dada;
}

tr, td {
  text-align: center;
  color: #525252;
  font-family: Helvetica;
  font-size: 17px;
  padding: 20px 0;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:first-child, td:first-child {
  font-weight: bold;
}

.button-container {
  margin: 50px 0;
}

.history-page-btn {
  padding: 10px 18px;
  background-color: #02dada;
  margin: 90px;
  text-decoration: none;
  border: 2px solid #191919;
  font-weight: bold
}